<template>
<div class="child">
  <div class="inner">
    <div class="columns container">
      <div>
        <div class="card-title" v-text="title"></div>
        <div class="card-date" v-text="date"></div>
        <div class="card-description" v-text="description"></div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'card',
  props: ['title', 'date', 'description']
}
</script>

<style>
.child {
  width: auto;
  height: 300px;
  transition: 0.3s;
  background-color: rgba(128, 128,128, 0.5);
  overflow: hidden;
  margin: 5px;
  background-image: url("../../assets/background.jpg");
  background-position: 50% 50%;
}
.child:hover {
  animation: highlight 0.25s forwards;
}
.child .container {
  color: white;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: left;
}
.child .container {
  margin: 100px 0 0 30px;
  background-color: rgba(0,0,0,0.5);
}
.child .container:hover {
  animation: fade 0.5s forwards;
}
.child div .card-title {
  font-size: 60px;
}
.child div .card-date {
  font-size: 28px;
}
.child div .card-description {
  margin-top: 15px;
  font-size: 32px;
}
@keyframes fade {
  from {background-color: rgba(0,0,0,0.5);}
  to {background-color: rgba(255,255,255,0.5); color: black;}
}
@keyframes highlight{
  from {opacity: 1;}
  to {opacity:0.9;}
}
</style>
