<template>
 <div class="welcome">
  <p class="font-xlarge">Hi!</p>
</div>
</template>

<scripts>
export default {
  name: 'intro-sequence'
}
</scripts>

<style>
    .welcome {
      position: relative;
      top: 50%;
      transform: translateY(-0%);
      -webkit-transform: translateY(-0%);
      -ms-transform: translateY(-0%);
      animation-name: riseup;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    .font-large {
      font-size: 50px;
    }
    .font-xlarge {
      font-size: 150px;
      color: white;
    }

    @keyframes riseup {
        from {
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
          opacity: 0;
        }
        to {
          transform: translateY(-75%);
          -webkit-transform: translateY(-75%);
          -ms-transform: translateY(-75%);
          opacity: 1;
        }
    }
</style>
