<template>
    <div class="container">
    <h1> Link Library </h1>
    <span v-for="category in categories" :key="category.id">
        <div class="left">
        <img class="icon" src="../assets/mason-jar-48.png"/>
        <span style="font-size: 18px; font-weight: bold;">{{ category.name }}</span>
        </div>
        <ul>

           <li v-for="bookmark in category.bookmarks" :key="bookmark.link">
            <div class="wrapper">
             <div class="title">
              {{ bookmark.title }}
             </div>

             <div class="link" style="">
               <a :href="bookmark.link" target="_blank">
                <img class="icon" src="../assets/open_window_48.png"/>
               </a>
             </div>
            </div>
           </li>
        </ul>
    </span>
    </div>
</template>

<script>
export default {
  name: 'link-library',
  data () {
    return {
      categories: {}
    }
  },
  created: function () {
    this.$http.get('http://localhost:8000/api/v1/categories/')
      .then(function (response) {
        this.categories = response.data
      })
  }
}

</script>

<style>
    ul {
        text-decoration: none;
        list-style-type: none;
    }

    .icon-cute {
      height: 18px;
      vertical-align: middle;
      outline-width: 1px;
      outline-color: gray;
    }

    .left {
      text-align: left;
    }
    .title {
      flex: 1;
      order: -1;
    }
    .link {
      flex: 1;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 80% 20%;
    }

    </style>
