<template>
<div>
  <div id="page" class="parent">
    <transition name="fade">
    <div class="child" v-if="home">
         <!--link-library class="card"></link-library -->
         <intro-sequence/>
    </div>
    </transition>
    <span v-for="card in posts" v-on:click="home = false">
    <transition name="fade">
      <card
      v-bind:title=card.title
      v-bind:date=card.readable_date
      v-bind:description=card.description
      v-if="home"
      ></card>
    </transition>
    </span>
    <transition name="fade">
      <post v-if="home == false">
      </post>
    </transition>

    <!--div class="child">
        <div class="">
          <h1>{{ welcomeMessage }}</h1>
          I am {{fullName}}
          <div>
              <br><h4>Tell me your name</h4>
              <input type="text" v-model="yourName">
          </div>
          <div>
              <h2>Hello{{ catchedName }}!</h2>
          </div>

          <div class="centerized">Created with:</div>
          <div>
              <img id="vue-logo" src="../assets/logo.png">
          </div>
          <div>
              <p>2018</p>
          </div>
        </div>
    </div-->
      <!--div class="child">
        <todo class="card"></todo>
      </div-->
  </div>
</div>
</template>

<script>
import Todo from './Todo'
import LinkLibrary from './LinkLibrary'
import IntroSequence from './IntroSequence'
import Card from './card/Card'
import Post from './post/Post'

export default {
  name: 'page',
  data () {
    return {
      welcomeMessage: 'Welcome to my HOME!',
      fullName: 'John Rei B. Enriquez',
      yourName: '',
      activePost: '',
      home: true,
      posts: {},
      cards: [
        {
          title: 'Token Versioning with Django Rest Framework',
          date: 'May 27, 2017',
          description: 'I figured token versioning is a simple addition to the JWT flow to make sure a user is only logged in on one device at a time. I will be using Django along with Django Rest Framework to demonstrate this'
        },
        {
          title: 'Another Post',
          date: 'May 27, 2017',
          description: 'Test Description'
        },
        {
          title: 'Another Post',
          date: 'May 27, 2017',
          description: 'Test Description'
        },
        {
          title: 'Another Post',
          date: 'May 27, 2017',
          description: 'Test Description'
        },
        {
          title: 'Another Post',
          date: 'May 27, 2017',
          description: 'Test Description'
        },
        {
          title: 'Another Post',
          date: 'May 27, 2017',
          description: 'Test Description'
        }
      ]
    }
  },
  created: function () {
    this.$http.get('http://localhost:8000/api/v1/posts/')
      .then(function (response) {
        this.posts = response.data
      })
  },
  components: {
    Todo,
    LinkLibrary,
    IntroSequence,
    Card,
    Post
  },
  methods: {
    removeHome: function () {
      this.home = false
    }
  },
  computed: {
    // a computed getter
    catchedName: function () {
      // `this` points to the vm instance
      if (this.yourName === '') {
        return ''
      }
      return ' ' + this.yourName
    }
  }
}

</script>

<style>
    p {
      margin: 10px;
    }
    #vue-logo {
        height: 2em;
        padding: 0em 0 0 0;
    }
    .centerized {
        vertical-align: middle;
        line-height: 50px;
    }
    .parent {
      display: flex;
      flex-direction: column;
    }
    .icon {
    height: 24px;
    vertical-align: middle;
    }
    .icon-faint {
      opacity: 0.25;
    }
    .icon-faint:hover {
      opacity: 1;
    }
    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity 2s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
    .fadein-enter-active, .fadein-leave-active {
      transition: display 5s;
    }
    .fadein-enter, .fadein-leave-to /* .fade-leave-active below version 2.1.8 */ {
      display: 0;
    }
</style>
