/* eslint no-undef: 0 */
/* eslint-disable no-alert, no-console */

<template>
  <div id="maintodo" class="">
    <div><h1>Quick ToDo</h1></div>
    <input type='text' class="task-input" v-on:keyup.enter="addTask" v-model='newTask'>
    <img class="icon" src="../assets/enter-key-48.png"/>
    <br>
      <span class="tips">(Press Enter)</span>
    <br>
    <ul id="tasklist">
        <li v-for="(task, index) in tasks" :key="task.id" >
            <span :class="{ done: task.done}" v-on:click="toggleTask($event, index)">{{ task.name }}</span>
            <transition name="fade">
            <img src="../assets/done-task-48.png" class="icon icon-faint" v-on:click="toggleTask($event, index)" v-if="!task.done" style="float: right">
            </transition>
            <transition name="fadein">
            <img src="../assets/delete-task-48.png" class="icon" v-on:click="deleteTask($event, index)"
              v-if="task.done" style="float: right">
            </transition>
        </li>
    </ul>
  </div>

</template>

<script>
export default {
  name: 'todo',
  data () {
    return {
      newTask: '',
      tasks: []
    }
  },
  methods: {
    addTask: function (e) {
      if (this.newTask === '') {
        alert('Awww... You did not type anything. Try typing something that you want to do :)')
        return
      }
      this.tasks.push({
        id: this.tasks.length + 1,
        name: this.newTask,
        done: false
      })
      this.newTask = ''
    },
    toggleTask: function (e, idx) {
      this.tasks[idx].done = !this.tasks[idx].done
    },
    deleteTask: function (e, idx) {
      this.tasks.splice(idx, 1)
    }
  }
}
</script>

<style scoped>

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  margin: 0 3em 0 3em;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.tips {
  font-size: 12px;
  color: black;
}
.done {
    text-decoration: line-through;
}
.hidden {
  display: none;
}
.task-input {
  height: 100px;
  width: 500px;
  font-size: 70px;
}
</style>
/* eslint-enable no-alert */
