<template>
<div class="container">
<div class="topnav" :class="{responsive: openNav}" id="myTopnav">
<div>
  <span class="textleft cursive padded">jrbenriquez</span>
  <span class="textleft cursive" style="margin-left:12px"></span>
</div>
<div>
  <a style="visibility: hidden">.</a>
  <a href="#news" class="nav-entry">Projects</a>
  <a href="#contact" class="nav-entry">Blog</a>
  <a href="#about" class="nav-entry">About</a>
  <a class="active nav-entry" href="#home">Home</a>
  <a href="javascript:void(0);" class="icon" :class="{active, openNav}" v-on:click="toggleNav">
    <i class="fa fa-bars large"></i>
  </a>
</div>
</div>
</div>
</template>

<script>
export default {
  name: 'topnav',
  data () {
    return {
      openNav: false
    }
  },
  methods: {
    toggleNav: function () {
      this.openNav = !this.openNav
    }
  }
}
</script>

<style>
/* Add a black background color to the top navigation */
.container {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.topnav {
    background-color: #222;
    vertical-align: top;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 52px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #f2f2f;
}

a.nav-entry:hover {
    background-color: #f2f2f2;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #fdf5ef;
    color: black;
}

.textleft {
    float: left;
    padding-top: 15px;
}
.cursive {
    font-family: 'Lovers Quarrel', cursive;
    color: white;
    font-size: 100px;
}
.iam {
    padding-top: 18px;
    padding-left: 120px;
}
.iam:after {
        content: "Web Developer";
        animation: spin 6s linear infinite;
    }
@keyframes spin {
        25% {content: "Tech";}
        50% {content: "Stories";}
        75% {content: "Python";}
        100% {content: "Web Developer";}
    }

.topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 24px;
    }
/* Hide the link that should open and close the topnav on small screens */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (min-width: 1080px) and (max-width: 1200px) {
  .iam {
    padding-top: 20px;
    padding-left: 220px;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
.iam {
    padding-top: 20px;
    padding-left: 300px;
  }
}
@media screen and (min-width: 1600px) {
.iam {
    padding-top: 20px;
    padding-left: 20px;
  }
  .topnav a:not(:first-child) {display: block;}
.topnav a.icon {
    display: none;
  }
  .topnav a {
    padding: 24px 16px;
    text-decoration: none;
    font-size: 16px;
}
.textleft {
    font-size: 40px;
}
}

.padded {
    padding-left: 40px;
    vertical-align: middle;
}
</style>
