<template>
<div>
  <transition name='fade'>
    <div class="post-parent">
      <div class="post-child">
        <div class="back-container">
        <a href="/" class="back-link"> << </a>
        </div>
        <div class="post-container flex-box-item-grow fill-area">
          <div class="fill-area-container flex-box-item-grow">
        <div class="post-title" v-text="title"></div>
        <div class="post-date" v-text="date"></div>
         <div class="post-content" v-html="body" >
    </div>
           </div>
        </div>
      </div>
    </div>
  </transition>
  </div>
</template>

<script>
export default {
  name: 'post',
  data () {
    return {
        title: '',
        date: '',
        body: ''
    }
  },
  methods: {
  },
  created: function () {
    this.$http.get('http://localhost:8000/api/v1/articles/'+ '2' +'/')
      .then(function (response) {
        this.title = response.data.title;
        this.date = response.data.readable_date
        this.body = response.data.body
      })
    }
}
</script>

<style>
.post-parent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-image: url(../../assets/background.jpg);
    overflow: auto;
}
.post-container {
    margin: 150px 20px 0 20px;
    flex: 1;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.fill-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.flex-box-item-grow {
    flex: 1;
}
.fill-area-container {
    overflow: auto;
}
.back-container {
    animation: shake 4s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.back-link {
    float: left;
    padding: 15px 40px 15px 30px;
    font-size: 100px;
    text-decoration: none;
    font-family: serif;
    color: white;
    font-weight: bolder;
    background-color: rgba(100,100,100,0.3);
}
.back-link:hover {
    animation: shake 4s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
.post-title {
    text-align: left;
    font-size: 90px;
}
.post-date {
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
}
.post-content{
    text-align: justify;
    margin: 115px 20px 0 20px;
    font-size: 50px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}
</style>
