<template>
    <div id="app">
      <TopNav/>
      <!-- <img src="./assets/logo.png">-->
      <router-view/>

    </div>
</template>

<script>
import Page from './components/Page'
import Todo from './components/Todo'
import TopNav from './components/TopNav'

export default {
  name: 'App',
  components: {
    Page,
    TopNav,
    Todo
  }
}
</script>

<style>
#app {
   font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
body {
  background-color: #fdf5ef;
}
</style>
